<div class="loginPopup">
<div fxLayout="row" fxLayoutAlign="space-between center" class="pophead ">
  
  <div fxLayout="column" fxFlex="90%">
    <h2 mat-dialog-title>{{data.title}}</h2>
  </div>
  <div fxLayout="column" fxFlex="10%">
    <a href="javascript:void(0);" (click)="closeDialog()">
      <mat-icon style="color: white;position: relative;right: -21px;">close</mat-icon>
    </a>
  </div>
</div>
<div class="dropdown_content">
<div > 
  <mat-form-field>
    <mat-select class="roleselct" [formControl]="selectedRole" required placeholder="Select Role" disableOptionCentering>
      <mat-option *ngFor="let role of data.role" [value]="role">
        {{role}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div >
  <button type="submit" [disabled]="selectedRole.invalid" (click)="onSubmitDept(selectedRole.value)" >Submit</button>
  <!-- <button [disabled]="selectedRole.invalid" (click)="onSubmitDept(selectedRole.value)" style="width: 100px;"
    mat-stroked-button color="primary">Submit
  </button> -->
</div>
</div>
</div>