<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="blue">
            <i class="fas fa-people-arrows"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title"> <span id="changetext"> Referrer </span>
              <ul class="pull-right list-unstyled list-inline statusbar">
                <li>
                </li>
              </ul>
            </h4>

            <div>
              <div class="dataTables_scrollBody">

                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)"
                  multiTemplateDataRows>

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef > # </th>
                    <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element) + 1}}</td>
                  </ng-container>

                  <ng-container matColumnDef="userid">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> User ID </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.userid}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="mobileNumber">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Mobile
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.mobileNumber}} </td>
                  </ng-container>
                  <ng-container matColumnDef="emailAddress">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Email
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.emailAddress}} </td>
                  </ng-container>
                  <ng-container matColumnDef="companyName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Company 
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.companyName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="countryName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Country
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.countryName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> First Name </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.firstName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="lastName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Last Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.lastName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="kycStatus">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Kyc
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      <!-- <div fxLayout="row" style="padding-left: 30;" *ngIf="element.kyc !== null">
                        {{element.kyc}}
                      </div>
                      <div fxLayout="row" style="padding-left: 30;" *ngIf="element.kyc === null || element.kyc === ''">
                        Not Uploaded
                      </div> -->

                      <!-- <td mat-cell *matCellDef="let element" class="myCell" style="width: 170px!important;">
                        <div fxLayout="row" class="tableData"  *ngIf="element.kyc !== 'Not Uploaded'">
                          <a (click)="showKyc(element.userid)" class="backbtn pull-right" id="backbtn">
                            {{element.kyc}}</a>
                        </div>
                        <div fxLayout="row" style="padding-left: 30; pointer-events: none;"
                          *ngIf="element.kyc === null || element.kyc === 'Not Uploaded' || element.kyc === ''">
                          <a class="backbtn pull-right" id="backbtn">
                            Not Uploaded</a>
                        </div>
                      </td> -->

                      <div fxLayout="row" class="tableData" *ngIf="element.kyc !== 'Not Uploaded'">
                        <a (click)="showKyc(element.userid)" class="backbtn pull-right" id="backbtn">
                          {{element.kyc}}</a>
                      </div>
                      <div fxLayout="row" style="padding-left: 30; cursor: pointer;"
                        *ngIf="element.kyc === null || element.kyc === 'Not Uploaded' || element.kyc === ''">
                        <a class="backbtn pull-right" id="backbtn">
                          Not Uploaded</a>
                      </div>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="totalReference">
                    <th mat-header-cell  *matHeaderCellDef class="myHeader"> Total References
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      <div fxLayout="row" style="padding-left: 40px; cursor: pointer;">
                        <a (click)="getRefer(element.userid, 'All')" class="backbtn pull-right" id="backbtn">
                          {{element.totalReference}}</a>
                      </div>
                    </td>                    
                  </ng-container>
                  <ng-container matColumnDef="approvedReference">
                    <th mat-header-cell  *matHeaderCellDef class="myHeader"> Approved References
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      <div fxLayout="row" style="padding-left: 40px; cursor: pointer;">
                        <a (click)="getRefer(element.userid, 'Approved')" class="backbtn pull-right" id="backbtn">
                          {{element.approvedReference}}</a>
                      </div>
                    </td> 
                  </ng-container>

                  <ng-container matColumnDef="rejectedReference">
                    <th mat-header-cell  *matHeaderCellDef class="myHeader"> Rejected References
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      <div fxLayout="row" style="padding-left: 40px;  cursor: pointer;">
                        <a (click)="getRefer(element.userid, 'Rejected')" class="backbtn pull-right" id="backbtn">
                          {{element.rejectedReference}}</a>
                      </div>
                    </td>                    
                  </ng-container>

                  <ng-container matColumnDef="pendingReference">
                    <th mat-header-cell  *matHeaderCellDef class="myHeader"> Pending References
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      <div fxLayout="row" style="padding-left: 40px; cursor: pointer;">
                        <a (click)="getRefer(element.userid, 'Pending')" class="backbtn pull-right" id="backbtn">
                          {{element.pendingReference}}</a>
                      </div>
                    </td> 
                  </ng-container>

                  <ng-container matColumnDef="earning">
                    <th mat-header-cell  *matHeaderCellDef class="myHeader"> Earning (USD)
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.earning}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ccy">
                    <th mat-header-cell  *matHeaderCellDef class="myHeader"> 
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">  </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
              </div>
              <mat-card *ngIf="dataSource.data.length == 0" style="padding:50px;">
                <h3 style="text-align:center"> No Data </h3>
              </mat-card>
              <mat-paginator #paginator [length]="pagerConfig.totalItems" [pageIndex]="pagerConfig.pageIndex"
                [pageSize]="pagerConfig.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
              </mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>