<div fxLayout="row" fxLayoutAlign="space-between center" class="pophead">
  <div fxLayout="column" fxFlex="10%">
    <a href="javascript:void(0);" (click)="closeDialog()">
      <mat-icon style="color: white;">close</mat-icon>
    </a>
  </div>
  <div fxLayout="column" fxFlex="90%">
    <h2 mat-dialog-title>{{data.title}}</h2>
  </div>  
</div>

<mat-card [formGroup]="couponForm">
  <mat-dialog-content>
    <div class="popupcontent">
      <div class="tab-content" id="tab1">
        <div class="tab-pane active" id="pill1">
          <table class="table noneborder" >
              <tr>
                  <td nowrap="">Country</td>
                  <td>
                    <mat-select formControlName="country" class="roleselct" (selectionChange)="getPlan()" disableOptionCentering>                     
                      <input (keyup)="onKey($event.target.value)" class="inputSearch" placeholder="Enter Country Name" autofocus>                 
                      <mat-option value="">Select Country</mat-option>    
                      <mat-option *ngFor="let item of selectedcountry" [value]="item.country">{{item.country}}
                      </mat-option>
                    </mat-select>
                    <!-- <ejs-dropdownlist formControlName="country" class="popupddl1" style="width:100%!important;border: 0px solid #ccc!important;border-radius: 6px!important;box-shadow: inset 0 0 12px rgba(43, 43, 43, 0.14901960784313725)!important;" [dataSource]='country' [allowFiltering]='true' [ignoreAccent]='true'
                    placeholder='Select country' filterBarPlaceholder='' (ngModelChange)="getPlan()">
                    </ejs-dropdownlist>  -->
                    <mat-error
                      *ngIf="couponForm.controls['country'].touched && couponForm.controls['country'].hasError('required')">
                      Please select Country
                    </mat-error>
                  </td>
                </tr>
                <tr>
                  <td>Coupon For</td>
                  <td>
                    <mat-select formControlName="couponFor" placeholder="Coupon For" disableOptionCentering class="roleselct" (selectionChange)="getPlan()" >
                      <mat-option value="">Select</mat-option>
                      <mat-option  value="Bank As Customer">Bank as a Customer</mat-option>
                      <mat-option  value="CUSTOMER">Customer</mat-option>
                      <mat-option  value="BANK">Bank</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="couponForm.controls['couponFor'].touched && couponForm.controls['couponFor'].hasError('required')">
                      Please select Discount Type
                    </mat-error>
                  </td>
                </tr>
                <tr>
                  <td>Subscription Plan</td>
                  <td>
                    <mat-select formControlName="subscriptionPlan" placeholder="Subscription Plan" disableOptionCentering class="roleselct">
                      <mat-option value="">Select</mat-option>
                      <mat-option *ngFor="let item of planList" [value]="item.planName">{{ item.planName }}</mat-option>
                      <!-- <mat-option value="Introductory_Offer">Introductory Offer</mat-option>
                      <mat-option value="Silver">Silver</mat-option>
                      <mat-option value="Gold">Gold</mat-option>
                      <mat-option value="Platinum">Platinum</mat-option>
                      <mat-option value="Unlimited">Unlimited</mat-option> -->
                    </mat-select>
                    <mat-error
                      *ngIf="couponForm.controls['subscriptionPlan'].touched && couponForm.controls['subscriptionPlan'].hasError('required')">
                      Please select Subscription Plan
                    </mat-error>
                  </td>
                </tr>
            <tr>
              <td>Discount Type</td>
              <td>
                <mat-select formControlName="discountType" placeholder="Discount Type"  disableOptionCentering class="roleselct" (selectionChange)="checkType($event.value)" >
                  <mat-option value="">Select</mat-option>
                  <mat-option  value="Fixed">Fixed</mat-option>
                  <mat-option  value="%">%</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="couponForm.controls['discountType'].touched && couponForm.controls['discountType'].hasError('required')">
                  Please select Discount Type
                </mat-error>
              </td>
            </tr>
            <tr *ngIf="!showPecentage">
              <td nowrap="">Amount</td>
              <td>
                <input formControlName="amount" (keyup)="checkAmount($event.target.value)"  (input)="limitDecimalPlaces($event, 2)" matInput placeholder="" maxlength="50" required autocomplete="off" style="width:90%!important"/> USD
                <!-- <input formControlName="amount" matInput placeholder="" maxlength="50" required autocomplete="off"/> -->
                <mat-error
                  *ngIf="couponForm.controls['amount'].touched && couponForm.controls['amount'].hasError('required')">
                  Please enter Amount
                </mat-error>
                <mat-error
                  *ngIf="amountError">
                  The Amount should not be greater than plan price.
                </mat-error>
              </td>
            </tr>           
            <tr *ngIf="showPecentage">
                <td nowrap="">Discount Percentage</td>
                <td>
                  <!-- <input  autocomplete="off" (keyup)="calculateAmount($event.target.value)" formControlName="discountPercentage" matInput placeholder="" required/> -->
                  <input  (input)="limitDecimalPlaces($event, 2)" autocomplete="off" formControlName="discountPercentage" matInput placeholder="" required/>
                  <mat-error
                    *ngIf="couponForm.controls['discountPercentage'].touched && couponForm.controls['discountPercentage'].hasError('required')">
                    Please enter Discount Percentage
                  </mat-error>
                </td>
              </tr>      
              <tr *ngIf="showPecentage">
                  <td nowrap="">Max Discount</td>
                  <td>
                    <input (input)="limitDecimalPlaces($event, 2)" formControlName="maxDiscount" (keyup)="checkAmount($event.target.value)" autocomplete="off" matInput placeholder="" style="width:90%!important"/> USD
                    <mat-error
                      *ngIf="discountAmountError">
                      The Max Discount should not be greater than plan price.
                    </mat-error>
                  </td>
                </tr>      
            <tr>
              <td nowrap="">Start Date</td>
              <td class="dateicon"> 
                <mat-form-field  style="width: 105% !important">
                  <input matInput [matDatepicker] = "startDate" formControlName="startDate" (keydown)="validateRegexFields($event)" autocomplete="off">
                  <mat-datepicker-toggle matSuffix [for] = "startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
               </mat-form-field>
                <mat-error *ngIf="couponForm.controls['startDate'].touched && couponForm.controls['startDate'].hasError('required')" style="margin-top: -15px!important">
                  Please select Start Date
                </mat-error>
              </td>
            </tr>
            <tr>
              <td nowrap="">Start Time</td>
              <td>
                <!-- <input type="time" formControlName="startTime" step="2" style="font-size: 12.5px!important;"> -->
                <!-- <mat-error *ngIf="couponForm.controls['startTime'].touched && couponForm.controls['startTime'].hasError('required')">
                    Please enter Start Time
                </mat-error> -->
                <ejs-timepicker [value]="value" #ejTimePicker  formControlName="startTime"   [placeholder]='watermark' [format]='formatString' [step]='interval' ></ejs-timepicker>
                <!-- <input formControlName="startTime" value="{{selectedTime}}">
                <button mat-button (click)="open()">
                  <mat-icon class="clock_custome_css">access_time</mat-icon>
                </button> -->
              </td>
            </tr>
            <tr> 
            <td nowrap="">End Date</td>
              <td class="dateicon">
                <mat-form-field style="width: 105% !important">
                  <input matInput [matDatepicker] = "endDate" formControlName="endDate" (dateChange)="valueChanged()" (keydown)="validateRegexFields($event)" autocomplete="off">
                  <mat-datepicker-toggle matSuffix [for] = "endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
               </mat-form-field>
                <mat-error *ngIf="couponForm.controls['endDate'].touched && couponForm.controls['endDate'].hasError('required')" style="margin-top: -15px!important">
                  Please select End Date
                </mat-error>
                <mat-error *ngIf="dateError">
                    End date should be grater then start date.
                </mat-error>
              </td>
            </tr> 
            <tr>
                <td nowrap="">End Time</td>
                <td>
                  <!-- <input type="time" formControlName="endTime" step="2" style="font-size: 12.5px!important;"> -->
                  <ejs-timepicker [value]="value"  #ejTimePicker  formControlName="endTime"   [placeholder]='watermark' [format]='formatString' [step]='interval' ></ejs-timepicker>
                  <!-- <mat-error *ngIf="couponForm.controls['endTime'].touched && couponForm.controls['endTime'].hasError('required')">
                      Please enter End Time
                  </mat-error> -->
                </td>
              </tr>
          </table>   
          <table class="table table-bordered" formArrayName="details" style="margin-bottom: 0px!important;">
              <tr *ngFor="let item of couponForm.get('details')['controls']; let i = index;"  [formGroupName]="i">
                <td>
                    Quantity :
                    <input type="number" formControlName="quantity" autocomplete="off"  min="0" onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');" required>
                    <mat-error
                    *ngIf="item.controls.quantity.status==='INVALID' && couponSubmit">
                    Please enter quantity
                    </mat-error>
                </td>
                <td>
                    Coupon Code:
                    <input matInput formControlName="couponCode" autocomplete="off" maxlength="15" required>
                    <mat-error
                    *ngIf="item.controls.couponCode.status==='INVALID' && couponSubmit">
                    Please enter Coupon Code
                    </mat-error>
                </td>
                <td *ngIf="i>0">
                    <a href="javascript:void(0);" (click)="removeQuantity(i)" style="margin-right: -31px!important;">
                        <mat-icon style="color: red;">close</mat-icon>
                    </a>
                </td>
              </tr>
              <tr>
                <td></td>
                <th *ngIf="!toHide"><a href="javascript:void(0)" (click)="addMorePhase()" class="add_more">+Add More</a></th>
              </tr>
              <tr>
                <th colspan="2">Personalized Coupon:</th>
              </tr>
          </table>              
          <div style="    padding: 0 5px;
          margin-bottom: 15px;">             
              <input type="file" (change)="UploadExcel($event)" name="myfile" style="width: 50%!important;float: left !important;" placeholder="Upload file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
              <button class="linkbtn" (click)="downloadExcel()">Download Excel</button>
            </div>
          <div  *ngIf="showCreate" class="createBtnDiv">
            <button type="submit"  class="btn btn-info pull-right" id="btnCreate" (click)="onSubmitCoupon()"
              style="width: 100px;" mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading">
              Create
              <div class="ripple-container"></div>
            </button>
          </div>
          <div *ngIf="!showCreate"  [class.disabled]="!toggle" style="padding-right: 179px;padding-top: 5px;">
              <button type="button" class="btn btn-default"  (click)="deactivateCoupon('Active',data.id)" [class.spinner]="loading" [disabled]="loading || deactiveDisabled ">Deactivate
                  <div class="ripple-container"></div>
              </button>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</mat-card>