<!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="pophead">
  <div fxLayout="column" fxFlex="10%">
    <a href="javascript:void(0);" (click)="closeDialog()">
      <mat-icon style="color: white;">close</mat-icon>
    </a>
  </div>
  <div fxLayout="column" fxFlex="90%">
    <h2 mat-dialog-title>{{data.title}}</h2>
  </div>
</div> -->

<mat-card>
  <mat-dialog-content>
    <div id="menubarDetail">
      <div class="popupcontent">
        <div class="card">
          <div class="card-content">
            <ul class="nav nav-pills nav-pills-info" style="margin: 0;
                  padding: 10px 15px 0;">
              <a href="javascript:void(0);" (click)="closeDialog()" class="popup_close">
                <mat-icon style="margin-left: -40px;">close</mat-icon>
              </a>
              <li class="active" (click)="search('transactionDetails')"><a href="#detailtab1" data-toggle="tab" aria-expanded="false">Transaction Details</a>
              </li>
              <li (click)="search('customerDetails')"><a href="#detailtab2" data-toggle="tab" aria-expanded="true">Customer Details</a></li>
            </ul>
            <div class="tab-content" style="height: 502px;overflow: auto;" #divToScroll>

              <div class="tab-pane active" id="detailtab1">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Transaction ID</th>
                          <td>
                            <input matInput value={{transactionData.transactionId}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <th colspan="2">Product Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="width: 50%;">LC Issuing Bank</td>
                          <td>
                            <input matInput value={{transactionData.issuingBank}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Branch </td>
                          <td>
                            <input matInput value={{transactionData.branch}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Swift Code</td>
                          <td>
                            <input matInput value={{transactionData.swiftCode}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td>
                            <input matInput value={{transactionData.lcCountry}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Product</td>

                          <td>
                            <input matInput value={{requirement}} readonly="true">
                          </td>



                          
                        </tr>
                        <tr>
                          <td>Amount</td>
                          <td>
                            <input matInput value="{{transactionData.amount |number:'1.2-2'}}" readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Issuing Date</td>
                          <td>
                            <!-- {{transactionData.issuingDate | "dd-MM-y HH:mm:ss z"}} -->
                            <input matInput value="{{transactionData.issuingDate | date : 'dd-MM-y HH:mm:ss z'}}" readonly="true">
                          </td>
                        </tr>
                        <tr *ngIf="transactionData.requirement != 'Refinance' && transactionData.requirement !='BankGuarantee'">
                          <td>Last Shipment Date(LSD)</td>
                          <td>
                            <input matInput value="{{transactionData.lastShipmentDate | date : 'dd-MM-y HH:mm:ss z'}}" readonly="true">
                          </td>
                        </tr>
                        <tr *ngIf="transactionData.requirement != 'Refinance' && transactionData.requirement !='BankGuarantee'">
                          <td>Negotiation Date</td>
                          <td>
                            <input matInput value="{{transactionData.negotiationDate | date : 'dd-MM-y HH:mm:ss z'}}" readonly="true">
                          </td>
                        </tr>
                        <tr *ngIf="transactionData.requirement =='BankGuarantee'">
                          <td>BG Expiry Date</td>
                          <td>
                            <input matInput value="{{transactionData.lCExpiryDate | date : 'dd-MM-y HH:mm:ss z'}}" readonly="true">
                          </td>
                        </tr> 
                         <tr *ngIf="transactionData.requirement =='BankGuarantee'">
                          <td>Claim Expiry Date</td>
                          <td>
                            <input matInput value="{{transactionData.claimExpiryDate | date : 'dd-MM-y HH:mm:ss z'}}" readonly="true">
                          </td>
                        </tr>
                       
                   
                     <tr *ngIf="transactionData.requirement=='BankGuarantee'">
                         <td>BG Type</td>
                         <input matInput value={{transactionData.bgType}} readonly="true">
                     </tr>

                        <tr *ngIf="transactionData.requirement!='BankGuarantee'">
                          <td>Goods</td>
                          <td>
                            <input matInput value={{transactionData.goods}} readonly="true">
                          </td>
                        </tr>
                
                  
                        <tr *ngIf="transactionData.requirement != 'Refinance'">
                          <th colspan="2">Tenor of Deferred Payment</th>
                        </tr>
                        <tr *ngIf="transactionData.requirement != 'Refinance'">
                          <td style="width: 50%;">Usance (Days)</td>
                          <td>
                            <input matInput value={{transactionData.usansce}} readonly="true">
                          </td>
                        </tr>
                        <!-- <tr *ngIf="transactionData.requirement != 'Refinance'">
                          <td>Claim period </td>
                          <td><input matInput value={{transactionData.paymentTerms}} readonly="true">
                          </td>
                        </tr> -->
                        <tr *ngIf="transactionData.requirement =='BankGuarantee'">
                          <td >Claim period </td>
                          <td><input matInput value={{transactionData.paymentTerms}} readonly="true">
                          </td>
                        </tr>
                        <tr *ngIf="transactionData.requirement !='BankGuarantee'">
                          <td>Payments terms to seller as per LC </td>
                          <td><input matInput value={{transactionData.paymentTerms}} readonly="true">
                          </td>
                        </tr>

                
                        <tr *ngIf="transactionData.requirement == 'Refinance'">
                          <th colspan="2">Tenor of Deferred Payment</th>
                        </tr>
                        <tr *ngIf="transactionData.requirement == 'Refinance'">
                          <td>Orignal Usance (Tenor) of LC</td>
                          <td>
                            <input matInput value={{transactionData.usansce}} readonly="true">
                          </td>
                        </tr>
                        <tr *ngIf="transactionData.requirement == 'Refinance'">
                          <td>Period for which refinancing is required</td>
                          <td><input matInput value={{transactionData.paymentTerms}} readonly="true">
                          </td>
                        </tr>
                        <tr *ngIf="transactionData.requirement == 'Refinance'">
                          <td>LC Maturity Date</td>
                          <td><input matInput value={{transactionData.lCMaturityDate}} readonly="true">
                      </tr>
                    
                      <tr *ngIf="transactionData.requirement == 'Refinance'">
                          <td>Multiple Maturity Date</td>    
                          <!-- <td><input matInput value={{transactionData.tenorFile}} readonly="true">                            -->
                          <td class="labeltext" *ngIf="transactionData.tenorFile" style="cursor: pointer;color: blue;" (click)="showProForma(transactionData.tenorFile)">View</td>
                          <!-- <td *ngIf="isUploadNoDoc">No such file attached</td> -->
                       </tr>
                    
                      </table>

                  </div>
                  <div class="col-md-12">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th colspan="2">Applicant</th>
                        </tr>
                        <tr>
                          <td style="width: 50%;">Applicant</td>
                          <td><input matInput value={{transactionData.applicant}} readonly="true">
                          </td>
                        </tr>
                        <tr *ngIf="transactionData.applicantContactPersonEmail">
                          <td style="width: 50%;">Email Id</td>
                          <td><input matInput value={{transactionData.applicantContactPersonEmail}} readonly="true"></td>
                        </tr>
                        <tr *ngIf="transactionData.applicantContactPerson">
                          <td style="width: 50%;">Contact Person</td>
                          <td><input matInput value={{transactionData.applicantContactPerson}} readonly="true"></td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td><input matInput value={{transactionData.applicantCountry}} readonly="true">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th colspan="2">Beneficiary</th>
                        </tr>
                        <tr>
                          <td>Beneficiary </td>
                          <td><input matInput value={{transactionData.beneficiary}} readonly="true"></td>
                        </tr>
                        <tr>
                          <td style="width: 50%;">Country</td>
                          <td><input matInput value={{transactionData.beneficiaryBankCountry}} readonly="true"></td>
                        </tr>
                        <tr>
                          <td style="width: 50%;">Bank</td>
                          <td><input matInput value={{transactionData.beneficiaryBank}} readonly="true"></td>
                        </tr>
                        <tr *ngIf="transactionData.beneContactPersonEmail">
                          <td style="width: 50%;">Email Id</td>
                          <td><input matInput value={{transactionData.beneContactPersonEmail}} readonly="true"></td>
                        </tr>
                        <tr *ngIf="transactionData.beneContactPerson"> 
                          <td style="width: 50%;">Contact Person</td>
                          <td><input matInput value={{transactionData.beneContactPerson}} readonly="true"></td>
                        </tr>
                        <tr>
                          <td>Swift Code</td>
                          <td>
                            <input matInput value={{transactionData.beneficiarySwiftCode}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Bank Country</td>
                          <td>
                            <input matInput value={{transactionData.beneficiaryBankCountry}} readonly="true">
                          </td>

                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-border"  *ngIf="transactionData.requirement=='BankGuarantee'">
                      <tbody>
                        <tr>
                          <th colspan="2">Others</th>
                        </tr>
                       
                        <tr>
                          <td>Charges are on</td>
                          <td style="width: 50%;"><input matInput value={{transactionData.chargesAreOn}} readonly="true">
                          </td>
                        </tr>
                        <tr >
                          <td>Validity</td>
                          <td style="width: 50%;"><input matInput value="{{transactionData.validity | date : 'dd-MM-y'}}" readonly="true">
                          </td>
                        </tr>
                      
                        <tr>
                          <td>Upload BG Text</td>
                        <!-- <td><input matInput value={{transactionData.transactionId}} readonly="true">
                          </td> -->
                          <td *ngIf="transactionData.proForma" class="td-padding">
                            <a style="color: blue; text-decoration: underline; cursor: pointer;" (click)="showImage(transactionData.proForma)" >View Document</a>
                          </td>
                          <td *ngIf="!transactionData.proForma" class="td-padding">
                            <a style="color: blue; text-decoration: none;pointer-events: none ;">No such document attached</a>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>Comment</td>
                          <td class="td-padding"><input matInput value={{transactionData.comment}} readonly="true">
                          </td>
                        </tr> -->
                        <tr >
                          <td>Maker Comment</td>
                          <td>
                            <textarea readonly="true" matInput value={{transactionData.makerComment}}></textarea>
                          </td> 
                      </tr>
                      <tr>
                          <td>Checker Comment</td>
                          <td>
                            <textarea readonly="true" matInput value={{transactionData.checkerComment}}></textarea>
                          </td> 
                      </tr>
                      </tbody>
                    </table>
                    <table class="table table-bordered"  *ngIf="transactionData.requirement!='BankGuarantee'">
                      <tbody>
                        <tr>
                          <th colspan="2">Others</th>
                        </tr>
                        <tr >
                          <td style="width: 50%;">Port of Loading </td>
                          <td>
                            <input matInput value={{transactionData.portofLoading}} readonly="true">
                          </td>

                        </tr>
                        <tr>
                          <td>Port of Discharge</td>
                          <td><input matInput value={{transactionData.portofDischarge}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Charges are on</td>
                          <td><input matInput value={{transactionData.chargesAreOn}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Validity</td>
                          <td><input matInput value="{{transactionData.validity | date : 'dd-MM-y'}}" readonly="true">
                          </td>
                        </tr>
                      
                        <tr>
                          <td>Upload Invoice</td>
                        <!-- <td><input matInput value={{transactionData.transactionId}} readonly="true">
                          </td> -->
                          <td *ngIf="transactionData.proForma">
                            <a style="color: blue; text-decoration: underline; cursor: pointer;" (click)="showImage(transactionData.proForma)" >View Document</a>
                          </td>
                          <td *ngIf="!transactionData.proForma">
                            <a style="color: blue; text-decoration: none;pointer-events: none ;">No such document attached</a>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>Comment</td>
                          <td><input matInput value={{transactionData.comment}} readonly="true">
                          </td>
                        </tr> -->
                        <tr >
                          <td>Maker Comment</td>
                          <td>
                            <textarea readonly="true" matInput value={{transactionData.makerComment}}></textarea>
                          </td> 
                      </tr>
                      <tr>
                          <td>Checker Comment</td>
                          <td>
                            <textarea readonly="true" matInput value={{transactionData.checkerComment}}></textarea>
                          </td> 
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="detailtab2">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Transaction ID</th>
                          <td><input matInput value={{transactionData.transactionId}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <th colspan="2">Personal Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>User ID</td>
                          <td> <input matInput value={{transactionData.userID}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>First Name</td>
                          <td><input matInput value={{transactionData.firstName}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Last Name</td>
                          <td><input matInput value={{transactionData.lastName}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Email ID</td>
                          <td><input matInput value={{transactionData.emailID}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Mobile No. </td>
                          <td><input matInput value={{transactionData.mobileNo}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td><input matInput value={{transactionData.custCountry}} readonly="true">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="form-group"></div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">Business Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Registration Type</td>
                          <td><input matInput value={{transactionData.registrationType}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Company Name</td>
                          <td><input matInput value={{transactionData.companyName}} readonly="true">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="form-group"></div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">Registered Address</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Country</td>
                          <td><input matInput value={{transactionData.addressCountry}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>State/Province</td>
                          <td> <input matInput value={{transactionData.stateProvince}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td><input matInput value={{transactionData.city}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>PIN/ZIP Code</td>
                          <td><input matInput value={{transactionData.pin}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Address Line 1</td>
                          <td><input matInput value={{transactionData.addressline1}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Address Line 2</td>
                          <td><input matInput value={{transactionData.addressline2}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Address Line 3</td>
                          <td><input matInput value={{transactionData.addressline3}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Telephone</td>
                          <td><input matInput value={{transactionData.telephone}} readonly="true">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="form-group"></div>

                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">RM Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>First Name</td>
                          <td> <input matInput value={{transactionData.rmFirstName}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Last Name</td>
                          <td><input matInput value={{transactionData.rmLastName}} readonly="true">
                          </td>
                        </tr>
                        <tr>
                          <td>Designation</td>
                          <td><input matInput value={{transactionData.rmDesignation}} readonly="true">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>
</mat-card>

<!-- <mat-dialog-actions fxLayoutAlign="center" style="display: block;text-align: center;">
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="100%">
      <button (click)="closeDialog()" class="btn btn-info popupclose" mat-raised-button color="primary">CLOSE
      </button>
    </div>
  </div>
</mat-dialog-actions> -->