<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="blue">
            <i class="fas fa-users"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title"> <span id="changetext"> Customer </span>
              <ul class="pull-right list-unstyled list-inline statusbar">
                <li>
                  <div fxLayout="row" fxFlex="100%;" [formGroup]="customerListForm">
                    <div fxLayout="column" fxFlex="100%;">
                      <div fxLayout="row">
                        <mat-form-field fxFlex="100%">
                          <mat-select formControlName="txtStatus" placeholder="Kyc Status"
                            (selectionChange)="onChangeType(customerListForm.controls['txtStatus'].value)"
                            disableOptionCentering class="roleselect">
                            <mat-option [value]="">Select</mat-option>
                            <mat-option *ngFor="let item of kycStatusList" [value]="item.code">{{item.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- <a [routerLink]="['/app/transactions']" class="backbtn pull-right" id="backbtn"><span
                  class="fas fa-long-arrow-alt-left"></span>
                Back</a> -->
            </h4>

            <div>
              <div class="dataTables_scrollBody">

                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)"
                  multiTemplateDataRows>

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="myHeader" style="width: 20px!important;"> # </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 20px!important;">
                      {{dataSource.filteredData.indexOf(element) + 1}}</td>
                  </ng-container>

                  <ng-container matColumnDef="userid">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 120px!important;"> User ID </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 120px!important;">
                      {{element.userid}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 120px!important;"> First Name </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 120px!important;">
                      {{element.firstName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="lastName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 120px!important;"> Last Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 120px!important;">
                      {{element.lastName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="mobileNumber">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 150px!important;"> Mobile
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 150px!important;">
                      {{element.mobileNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="emailAddress">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 200px!important;"> Email
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 200px!important;">
                      {{element.emailAddress}} </td>
                  </ng-container>
                  <ng-container matColumnDef="registeredCountry">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 160px!important;">Business Country
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 130px!important;">
                      {{element.registeredCountry}} </td>
                  </ng-container>

                  <ng-container matColumnDef="companyName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 160px!important;"> Company Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 160px!important;">
                      {{element.companyName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="modeOfPayment">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 180px!important;"> Plan and Payments
                    </th>
                    <!-- <td mat-cell *matCellDef="let element" class="myCell"> {{element.planOfPayments}} </td> -->
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 180px!important;">
                      <div fxLayout="row" class="tableData text-center" *ngIf="element.planOfPayments !== 'No Active Plan'">
                        <a (click)="showPayment(element.userid)" class="anchor-align-center backbtn pull-right" id="backbtn">
                          {{element.planOfPayments}}</a>
                      </div>
                      <div fxLayout="row" class="text-center" style="padding-left: 30; cursor: pointer;"
                        *ngIf="element.planOfPayments === 'No Active Plan'">
                        <a class="anchor-align-center backbtn pull-right" id="backbtn">
                          {{element.planOfPayments}}</a>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="totalTxn">
                    <th mat-header-cell *matHeaderCellDef class="myHeader"
                      style="width: 130px!important;white-space: nowrap;"> Total Trxn
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 130px!important;">
                      <div fxLayout="row" class="tableData" *ngIf = "userRole !== 'Customer RM'">
                        <a (click)="showTransaction(element.userid)" class="backbtn pull-right" id="backbtn">
                          {{element.totalTxn}}</a>
                      </div>
                      <div fxLayout="row" class="tableData" *ngIf = "userRole === 'Customer RM'">
                        <a class="backbtn pull-right" id="backbtn">
                          {{element.totalTxn}}</a>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="kycStatus">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"
                      style="width: 170px!important;"> Kyc
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 170px!important;">
                      <div fxLayout="row" class="tableData"  *ngIf="element.kyc !== 'Not Uploaded'">
                        <a (click)="showKyc(element.userid)" class="backbtn pull-right" id="backbtn">
                          {{element.kyc}}</a>
                      </div>
                      <div fxLayout="row" style="padding-left: 30; pointer-events: none;"
                        *ngIf="element.kyc === null || element.kyc === 'Not Uploaded' || element.kyc === ''">
                        <a class="backbtn pull-right" id="backbtn">
                          Not Uploaded</a>
                      </div>
                    </td>
                    <!-- <td mat-cell *matCellDef="let element" class="myCell"> {{element.kyc}} </td> -->
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="myHeader" style="width: 170px!important;"> Actions
                    </th>
                    
                    <td mat-cell *matCellDef="let element" class="myCell" style="width: 170px!important;" colspan="2">
                      <div fxLayout="row" class="tableData">
                        <a (click)="onPreview(element.userid)" class="backbtn pull-right" id="backbtn">
                          Details</a>
                        

                      </div>
                    </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
              </div>
              <mat-card *ngIf="dataSource.data.length == 0" style="padding:50px;">
                <h3 style="text-align:center"> No Data </h3>
              </mat-card>
              <mat-paginator #paginator [length]="pagerConfig.totalItems" [pageIndex]="pagerConfig.pageIndex"
                [pageSize]="pagerConfig.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
              </mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>