<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="blue">
            <i class="fa fa-ticket"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">VAS Plans
              <ul class="pull-right list-unstyled list-inline statusbar">
                <!-- rahul 10-11 -->
                <li style="vertical-align: top;">
                  <div fxLayout="row" fxFlex="100%;" [formGroup]="vasForm">
                    <div fxLayout="column" fxFlex="100%;">
                      <div fxLayout="row">
                        <!-- <mat-form-field fxFlex="90%">
                          <mat-select formControlName="country" placeholder="Country"
                            (selectionChange)="onChangeType(vasForm.controls['country'].value)"
                            disableOptionCentering class="roleselect">
                            <mat-option [value]="">All</mat-option>
                            <mat-option *ngFor="let item of countryList" [value]="item.country">{{item.country}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->
                        <ejs-dropdownlist formControlName="country" id='diacritics' [dataSource]='countryData'
                          [allowFiltering]='true' [ignoreAccent]='true' (change)="onChangeType()"
                          placeholder='Select a Country' filterBarPlaceholder='' [(value)]='countryVal'>
                        </ejs-dropdownlist>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- rahul 10/11 -->
                <li *ngIf="myRights.includes('VALUE_ADDED_SERVICES_CREATE')" style="vertical-align: top;">
                  <a (click)="openVasDialog('Create Plan', null);" class="btn btn-info pull-right handle marzero">+ New
                    Plan</a></li>
              </ul>
            </h4>
            <div>
              <div fxLayout="row" style="margin-bottom: 10px;">
              </div>
              <!-- <div>
                <div fxLayout="row">
                  <div fxLayout="row" fxFlex="100%;">
                    <div fxLayout="column" fxFlex="15%;">
                      <div fxLayout="row">
                        <button style="width: 160px;" mat-raised-button color="primary"
                          (click)="openRoleDialog('Add Role', null);" mat-stroked-button>Add Role
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <div fxLayout="row" style="margin-bottom: 10px;">
              </div>
              <div class="dataTables_scrollBody">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)"
                  multiTemplateDataRows>

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element) + 1}}</td>
                  </ng-container>
                  <ng-container matColumnDef="customerType">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader">Customer Type</th>
                      <td mat-cell *matCellDef="let element" class="myCell">
                        {{element.customerType}}
                      </td>
                    </ng-container>
                  <ng-container matColumnDef="countryName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader">Country </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.countryName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="planName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader">Vas Plan </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.planName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="pricing">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Price
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.countryCurrency}}
                      {{element.pricing}} </td>
                  </ng-container>

                  <ng-container matColumnDef="description1">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Description
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.description1}} <br>
                      {{element.description2}}</td>

                  </ng-container>

                  <ng-container matColumnDef="createdDate">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Created On
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.createdDate | date : "dd-MM-y HH:mm:ss"}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Status </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.status}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="myHeader"> Actions
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      <div fxLayout="row">
                        <button  *ngIf="element.status != 'Active'" mat-button class="action-btn" matTooltip="Edit"
                          (click)="openVasDialog('Edit VAS Plan', element.vasid);">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button class="action-btn" matTooltip="Show Details"
                          (click)="onPreview(element.vasid, element.status);">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <!-- <button mat-button class="action-btn"
                          (click)="confirmDialog(element.roleStatus, element.roleId)">
                          <mat-icon *ngIf="element.roleStatus === 'INACTIVE'" [ngStyle]="{'color':'red'}"
                            matTooltip="Inactive">
                            block</mat-icon>
                          <mat-icon *ngIf="element.roleStatus === 'ACTIVE'" [ngStyle]="{'color':'green'}"
                            matTooltip="Active">done
                          </mat-icon>
                        </button> -->
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
              </div>
              <mat-card *ngIf="dataSource.data.length == 0" style="padding:50px;">
                <h3 style="text-align:center"> No Data </h3>
              </mat-card>
              <mat-paginator #paginator [length]="pagerConfig.totalItems" [pageIndex]="pagerConfig.pageIndex"
                [pageSize]="pagerConfig.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
              </mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>