.mat-button-toggle-standalone,
.mat-button-toggle-group {
  box-shadow: none !important;
}

.filterLinkBtn1 {
  border: 0;
  border-radius: 0 !important;
}

.mat-button-toggle-checked {
  border-bottom: 2px #00a651 solid !important;
  background-color: transparent;
}

::ng-deep .mat-button-toggle-label-content {
  line-height: 30px !important;
  padding: 0px 0px !important;
}

.filterLinkBtn {
  border: 0;
  border-radius: 0 !important;
  mat-button-toggle {
    margin-right: 10px;
    border-left: 0 !important;
    &.mat-button-toggle-checked,
    &:hover {
      background-color: transparent;
      button {
        .mat-button-toggle-label-content {
          color: #739d44;
        }
      }
    }
    &:last-child {
      margin: 0;
    }
    &.mat-button-toggle-checked .mat-button-toggle-label-content:after {
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      background: #739d44;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    button {
      // font-family: 'sf_ui_displayregular';
      font-size: 18px;
      color: #4a4a4a;
      .mat-button-toggle-label-content {
        padding: 0;
        line-height: normal;
        transition: all 0.3s;
        position: relative;
      }
    }
  }
  .mat-button-toggle-appearance-standard .mat-button-toggle-focus-overlay,
  .mat-button-toggle-appearance-standard {
    background-color: transparent !important;
  }
  .mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    border-bottom: 0;
  }
  .mat-ripple {
    display: none;
  }
}

table {
  width: 100%;
}
.mat-card {
  text-align: center;
  img {
    border-radius: 5px;
    margin-top: -25px;
  }
}
.mat-table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mb-20 {
  margin-bottom: 20px;
}
