<div fxLayout="row" fxLayoutAlign="space-between center" class="pophead">
  <div fxLayout="column" fxFlex="10%">
    <a href="javascript:void(0);" (click)="closeDialog()">
      <mat-icon style="color: white;">close</mat-icon>
    </a>
  </div>
  <div fxLayout="column" fxFlex="90%">
    <h2 mat-dialog-title>{{data.title}}</h2>
  </div>
</div>


<mat-card [formGroup]="vasForm">
  <mat-dialog-content>
    <div class="popupcontent">
      <div class="tab-content" id="tab1" style="overflow-y: auto;">
        <div class="tab-pane active" id="pill1">
          <table class="table noneborder">
            <tbody>
                <tr>
                    <td>
                      Customer Type
                    </td>
                    <td>
                      <mat-radio-group formControlName="customerType" [disabled]="data && data.id ? true : false"  (change)="onChange($event)"> 
                        <span ></span>
                        <mat-radio-button value="Customer">Customer
                        </mat-radio-button>
                        <span style="margin-right: 20px;"></span>
                        <mat-radio-button value="Bank As Customer">Bank as Customer
                        </mat-radio-button>
                      </mat-radio-group>
                      <mat-error
                      *ngIf="vasForm.controls['customerType'].touched && vasForm.controls['customerType'].hasError('required')">
                      Please select Customer Type
                    </mat-error>
                    </td>
                  </tr>
              <tr>
                <td nowrap="">Country</td>
                <td>                 
                  <mat-select formControlName="countryName" class="roleselct" disableOptionCentering>
                    <input (keyup)="onKey($event.target.value)" class="inputSearch" placeholder="Enter Country Name"> 
                    <mat-option [value]="">Select</mat-option>
                    <mat-option *ngFor="let item of selectedcountry" [value]="item.country">
                      {{item.country}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="vasForm.controls['countryName'].touched && vasForm.controls['countryName'].hasError('required')">
                    Please select Country
                  </mat-error>
                </td>

                <!-- <td class="multiselectClass">
                  <ng-multiselect-dropdown-angular7 autocomplete="disabled"  [data]="countryList"
                   formControlName="country" [(ngModel)]="selectedItems" [settings]="dropdownSettings" [disabled]="disabledOther"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                  (onDeSelect)="onItemDeSelect($event)">
                  </ng-multiselect-dropdown-angular7>
                  <button type="button" *ngIf="disabledOther" class="closeNone closeBtn"      
                  (click)="closeNone()">&times;</button> 
                  <mat-error *ngIf="vasForm.controls['country'].touched && vasForm.controls['country'].hasError('required')">
                    Please select country
                  </mat-error>
                </td> -->

              </tr>

              <tr>
                <td>Plan Name</td>
                <td>
                  <input formControlName="planName" matInput placeholder="" autocomplete="off" required maxlength="30">
                  <mat-error
                    *ngIf="vasForm.controls['planName'].touched && vasForm.controls['planName'].hasError('required')">
                    Please enter Plan Name
                  </mat-error>
                </td>
              </tr>
              <tr>
                <td>Description 1</td>
                <td>
                  <input formControlName="description1" matInput placeholder="" autocomplete="off" required
                    maxlength="50">
                  <mat-error
                    *ngIf="vasForm.controls['description1'].touched && vasForm.controls['description1'].hasError('required')">
                    Please enter Description
                  </mat-error>

                </td>
              </tr>
              <tr>
                <td>Description 2</td>
                <td>
                  <input formControlName="description2" matInput placeholder="" autocomplete="off" required
                    maxlength="50">
                  <mat-error
                    *ngIf="vasForm.controls['description2'].touched && vasForm.controls['description2'].hasError('required')">
                    Please enter Description
                  </mat-error>
                </td>
              </tr>
              <tr>
                <td>Description 3</td>
                <td>
                  <input formControlName="description3" matInput placeholder="" autocomplete="off" maxlength="50">
                  <!-- <mat-error
                    *ngIf="vasForm.controls['description3'].touched && vasForm.controls['description3'].hasError('required')">
                    Please enter email Id
                  </mat-error> -->

                </td>
              </tr>
              <tr>
                <td>Description 4</td>
                <td>
                  <input formControlName="description4" matInput placeholder="" autocomplete="off" maxlength="50">
                  <!-- <mat-error
                    *ngIf="vasForm.controls['description4'].touched && vasForm.controls['description4'].hasError('required')">
                    Please enter email Id
                  </mat-error> -->

                </td>
              </tr>
              <tr>
                <td>Description 5</td>
                <td>
                  <input formControlName="description5" matInput placeholder="" autocomplete="off" maxlength="50">
                  <!-- <mat-error
                    *ngIf="vasForm.controls['description5'].touched && vasForm.controls['description5'].hasError('required')">
                    Please enter email Id
                  </mat-error> -->

                </td>
              </tr>

              <tr>
                <td>Pricing</td>

                <!-- <td><input matInput formControlName="countryCurrency" placeholder=""  readonly></td> -->
                <td>
                  <div class="halfleft" style="padding: 0;">
                  <input matInput formControlName="countryCurrency"  readonly>
                </div>
                <div class="halfright" >
                  <input formControlName="pricing" matInput placeholder="" autocomplete="off"
                    weightDirective required maxlength="50">
                  <mat-error
                    *ngIf="vasForm.controls['pricing'].touched && vasForm.controls['pricing'].hasError('required')">
                    Please enter Price
                  </mat-error>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="posfix">
            <button type="submit" class="btn btn-info pull-right mobileSaveButton" id="btnCreate" (click)="onSubmitPlan()"
              style="width: 100px;" mat-raised-button color="primary">
              Save
              <div class="ripple-container"></div>
            </button>

          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>

</mat-card>