<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="blue">
            <i class="fa fa-user-plus"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Users
              <ul class="pull-right list-unstyled list-inline statusbar">
                <li style="width: 150px;margin-top: 3px;">
                  <div class="dataTables_scrollBody">
                    <div fxLayout="row" fxFlex="100%;" [formGroup]="employeeListForm">
                      <mat-form-field fxFlex="100%">
                        <mat-select formControlName="status" placeholder="Status"
                          (selectionChange)="onChangeType()"
                          disableOptionCentering class="roleselect">
                          <mat-option [value]="">All</mat-option>
                          <mat-option *ngFor="let item of statusList" [value]="item.code">{{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>                   
                    </div>
                  </div>
                </li>
                <li *ngIf="myRights.includes('CREATE_USER')">
                  <a (click)="openEmployeeDialog('Create New User', null);"
                    class="btn btn-info pull-right handle marzero">+ New User</a>
                </li>
              </ul>
            </h4>


            <div>
              <div fxLayout="row" style="margin-bottom: 10px;">
              </div>
              
              <div fxLayout="row" style="margin-bottom: 10px;">
              </div>


              <div class="dataTables_scrollBody">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)"
                  multiTemplateDataRows>

                  <ng-container matColumnDef="empCode">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> EMP ID </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.empCode}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="empName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> First Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.firstName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="empLastName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Last Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.lastName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="designation">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Designation
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.designation}} </td>
                  </ng-container>
                  <ng-container matColumnDef="empMobile">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Mobile No
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.empMobile}} </td>
                  </ng-container>
                  <ng-container matColumnDef="reportingManager">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Reporting Manager
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.reportingManager}} </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="nimaiMpUserRoleList">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Role
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.empRoleName}} </td>
                  </ng-container> -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> status
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.status}} </td>
                  </ng-container>


                  <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef class="myHeader"> Actions
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      <div fxLayout="row">
                        <button mat-button class="action-btn" matTooltip="Edit"
                          (click)="openEmployeeDialog('Edit User', element.empId);">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button class="action-btn" matTooltip="Show Details"
                          (click)="onPreview(element.empId);">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <!-- <div *ngIf="element.status === 'INACTIVE'">
                          <button mat-button class="action-btn" matTooltip="Inactive">
                            <mat-icon [ngStyle]="{'color':'red'}">cancel</mat-icon>
                          </button>
                        </div>
                        <div *ngIf="element.status === 'ACTIVE'">
                          <button mat-button class="action-btn" matTooltip="Active">
                            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>
                          </button>
                        </div> -->
                        <!-- <button mat-button class="action-btn" (click)="confirmDialog(element.status, element.empId)">
                          <mat-icon *ngIf="element.status === 'INACTIVE'" [ngStyle]="{'color':'red'}"
                            matTooltip="Inactive">
                            block</mat-icon>
                          <mat-icon *ngIf="element.status === 'ACTIVE'" [ngStyle]="{'color':'green'}"
                            matTooltip="Active">
                            done
                          </mat-icon>
                        </button> -->
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
              </div>

              <mat-card *ngIf="dataSource.data.length == 0" style="padding:50px;">
                <h3 style="text-align:center"> No Data </h3>
              </mat-card>
              <mat-paginator #paginator [length]="pagerConfig.totalItems" [pageIndex]="pagerConfig.pageIndex"
                [pageSize]="pagerConfig.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>