<div id="myModal" class="modal1">
  <!-- <div class="modal-dialog modal-md emaildiv"> -->
  <div class="vertical-alignment-helper">
    <div class="vertical-align-center">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="h4css"><b style="font-weight: 500 !important;">
            Change Password</b>
            <button type="button" style="margin-top: 2px;" class="close" (click)="close()">
              &times;
            </button>
          </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="changePasswordForm" >
            <div class="row">
              <!--<p><strong>Enter Email ID here</strong></p> -->
              <div class="col-md-12">
                <div class="row">
                
                  <div  class="inputDiv">
                    <mat-form-field>
                      <input formControlName="oldPassword" matInput placeholder=""
                        [type]="oldPassHide ? 'password' : 'text'" required maxlength="20">
                        <label>Current Password</label>
                        <!-- <i aria-hidden="true" class="fas fa-unlock-alt passicon"></i> -->
                      <mat-icon matSuffix (click)="oldPassHide = !oldPassHide"  style="color:#18b3cc!important;" class="eye_icon">
                        {{oldPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error
                        *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].hasError('required')">
                        Please enter Current Password
                      </mat-error>                    
                    </mat-form-field>
                  </div> 

               
                  <div class="inputDiv">
                    <mat-form-field>
                      <input formControlName="newPassword" matInput placeholder=""
                        [type]="passwordHide ? 'password' : 'text'" required maxlength="20">
                        <label>New Password</label>
                        <!-- <i aria-hidden="true" class="fas fa-unlock-alt passicon"></i> -->
                      <mat-icon matSuffix (click)="passwordHide = !passwordHide"  style="color:#18b3cc!important;" class="eye_icon">
                        {{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error
                        *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].hasError('required')">
                        Please enter New Password
                      </mat-error>
                      <mat-error
                        *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].hasError('pattern')">
                        At least 8 characters in length, Lowercase letters, Uppercase letters, Numbers, Special
                        characters</mat-error>


                    </mat-form-field>
                  </div> 

              
                  <div class="inputDiv">
                    <mat-form-field fxFlex="90%">
                      <input formControlName="confirmPassword" matInput placeholder=""
                        [type]="confirmPassHide ? 'password' : 'text'" required maxlength="20">
                        <label>Confirm Password</label>
                        <!-- <i aria-hidden="true" class="fas fa-unlock-alt passicon"></i> -->
                      <mat-icon matSuffix (click)="confirmPassHide = !confirmPassHide"  style="color:#18b3cc!important;" class="eye_icon">                         
                        {{confirmPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error
                        *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].hasError('required')">
                        Please enter Confirm Password
                      </mat-error>
                      <mat-error
                        *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].hasError('pwdsDontMatch')">
                        Passwords do not match.
                      </mat-error>
                    </mat-form-field>
                  </div> 

              <div fxLayout="row">
                <div fxLayout="column" fxFlex="64%">
                  <div fxLayout="row" fxLayoutAlign="end">
                    <button (click)="onSubmitPassword()" style="width: auto;" mat-raised-button
                      color="primary" class="btnsubmit">Submit
                    </button>
                  </div>
                </div>
              </div>

        
              </div>

              </div>
              <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
            </div>
          </form>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<div id="wrongPassword" style="display: none;top: 0%;z-index: 9999;opacity: 1;" class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv" style="margin-top: 200px;">
     <!-- Modal content-->
     <div class="modal-content" style="width: 80%;">
        <div class="modal-body">
           <h2>Old Password is incorrect! </h2>
           <div class="padnew">
              <div class="row">
                 <!--<p><strong>Enter Email ID here</strong></p> -->
                 <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-12">
                          <h5>Kindly check the password and try again!</h5>
                         
                       </div>
                    </div>
                    <button type="submit" class="handleRefEdit btn btn-info pull-right" >OK</button>
                  
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>