<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="blue">
            <i class="fa fa-credit-card"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Approve/Reject Subscription
              <ul class="pull-right list-unstyled list-inline statusbar">
                <li>
                  <!-- <div fxLayout="row" fxFlex="100%;" [formGroup]="subscriptionForm">
                    <div fxLayout="column" fxFlex="50%;">
                      <div fxLayout="row">
                        <mat-radio-group formControlName="customerType" (change)="onTypeChange()">
                          <span style="margin-right: 30px;"></span>
                          <mat-radio-button value="CUSTOMER">Customer
                          </mat-radio-button>
                          <span style="margin-right: 20px;"></span>
                          <mat-radio-button value="BANK">Bank
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>

                    
                  </div> -->
                </li>

              </ul>
            </h4>
            <div>
              <div fxLayout="row" style="margin-bottom: 10px;">
              </div>
              <div class="dataTables_scrollBody">
                <div fxLayout="row" fxFlex="100%;" [formGroup]="subscriptionForm">
                  <div fxLayout="column" fxFlex="33%;" style="margin-top: 13px;">
                    <div fxLayout="row">
                      <mat-radio-group formControlName="customerType" (change)="onTypeChange()">
                        <span style="     margin-top: 11px;
                        display: inline-block;
                        margin-right: 8px;"></span>
                        <mat-radio-button value="CUSTOMER">Customer
                        </mat-radio-button>
                        <span style="margin-right: 20px;"></span>
                        <mat-radio-button value="BANK">Bank
                        </mat-radio-button>
                        <span style="margin-right: 20px;"></span>
                        <mat-radio-button value="BANK AS CUSTOMER">Bank as Customer
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>

                  <div fxLayout="column" fxFlex="20%;" style="margin: 7px 0 0 0;" class="mobile_countryFilter">
                    <div fxLayout="row">
                      <!-- <mat-form-field fxFlex="90%">
                        <mat-select formControlName="country" placeholder="Country"
                          (selectionChange)="onChangeType(subscriptionForm.controls['country'].value)"
                          disableOptionCentering class="roleselect">
                          <mat-option [value]="">All</mat-option>
                          <mat-option *ngFor="let item of countryList" [value]="item.country">{{item.country}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field> -->
                      <ejs-dropdownlist formControlName="country" id='diacritics' 
                      [dataSource]='countryData' [allowFiltering]='true' [ignoreAccent]='true'       
                      (change)="onChangeType(subscriptionForm.controls['country'].value)"               
                      placeholder='Select a Country' filterBarPlaceholder='' [(value)]='countryVal'>
                    </ejs-dropdownlist> 
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" style="margin-bottom: 10px;">
              </div>
              <div class="dataTables_scrollBody">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)"
                  multiTemplateDataRows>

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef > # </th>
                    <td mat-cell *matCellDef="let element"> {{(pagerConfig.pageIndex * pagerConfig.pageSize) + dataSource.filteredData.indexOf(element) + 1}}</td>
                  </ng-container>

                  <ng-container matColumnDef="countryName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader">Country </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.countryName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="planName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Plans </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.planName}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="credits">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader">Credits </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.credits}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="subsidiaries">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Additional Users </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.subsidiaries}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="rm">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader">Relationship Manager </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.rm}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="validity">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader">Validity </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.validity}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="pricing">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Pricing
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell"> {{element.countryCurrency}}
                      {{element.pricing}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="myHeader"> Status </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      {{element.status}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="myHeader"> Actions
                    </th>
                    <td mat-cell *matCellDef="let element" class="myCell">
                      <div fxLayout="row">
                        <button mat-button class="action-btn" matTooltip="Show Details"
                          (click)="onPreview(element.subscriptionPlanId, element.status);">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <!-- <div *ngIf="element.status === 'Pending'">
                          <button mat-button class="action-btn" matTooltip="Edit"
                            (click)="openSubDialog('Edit Subscription', element.subscriptionPlanId);">
                            <mat-icon>edit</mat-icon>
                          </button>
                        </div> -->
                        <div *ngIf="element.status === 'Pending' && (element.createdBy === user || element.modifiedBy === user)">
                          <button mat-button class="action-btn" matTooltip="You are not authorized to perform this action.">                            
                            <mat-icon [ngStyle]="{'color':'green'}">lock</mat-icon>
                          </button>
                        </div> 
                        <div *ngIf="element.status === 'Pending' && element.createdBy !== user">
                          <button mat-button class="action-btn" matTooltip="Approve"
                            (click)="confirmDialog('Approve', element)">
                            <mat-icon [ngStyle]="{'color':'green'}">verified_user</mat-icon>
                          </button>
                        </div>
                        <div *ngIf="element.status === 'Pending' && element.createdBy !== user">
                          <button mat-button class="action-btn" matTooltip="Reject"
                            (click)="confirmDialog('Reject', element)">
                            <mat-icon [ngStyle]="{'color':'red'}">cancel</mat-icon>
                          </button>
                        </div>
                        <div *ngIf="element.status === 'Rejected'">
                          <button mat-button class="action-btn" matTooltip="Reject">
                            <mat-icon [ngStyle]="{'color':'red'}">cancel</mat-icon>
                          </button>
                        </div>
                        <button mat-button class="action-btn"
                          (click)="ActiveInactiveDialog(element.status, element.subscriptionPlanId, element.countryName)">
                          <mat-icon *ngIf="element.status === 'Inactive'" [ngStyle]="{'color':'red'}"
                            matTooltip="Inactive">
                            block</mat-icon>
                          <mat-icon *ngIf="element.status === 'Active'" [ngStyle]="{'color':'green'}"
                            matTooltip="Active">done
                          </mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
              </div>
              <mat-card *ngIf="dataSource.data.length == 0" style="padding:50px;">
                <h3 style="text-align:center"> No Data </h3>
              </mat-card>
              <mat-paginator #paginator [length]="pagerConfig.totalItems" [pageIndex]="pagerConfig.pageIndex"
                [pageSize]="pagerConfig.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
              </mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>