<body>
  <div class="loginbody">
    <div class="content-a">
      <div class="content-b">
        <div class="container-fluid">
          <div class="col-md-4 col-md-offset-4 maindiv right-panel-active minchange" id="container">
            <div class="form-container sign-up-container">
              <!-- <div class="main-div"> -->
              <mat-card [formGroup]="changePasswordForm" class="transbg" style="background: transparent !important; padding: 40px 23px !important;">
                <mat-card-title>
                  Set Password
                </mat-card-title>
                <mat-dialog-content>
                  <div fxLayout="row">
                    <div fxLayout="column" fxFlex="100%">
                      <div fxLayout="row" class="inputDiv">
                        <mat-form-field fxFlex="90%" >
                          <input autocomplete="off" formControlName="newPassword" matInput placeholder=""
                            [type]="passwordHide ? 'password' : 'text'" required maxlength="20" style="margin-left: 23px!important;">
                            <label>New Password</label>
                            <i aria-hidden="true" class="fas fa-unlock-alt passicon"></i>
                          <mat-icon matSuffix (click)="passwordHide = !passwordHide"  style="color:#18b3cc!important;">
                            {{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          <mat-error
                            *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].hasError('required')">
                            Please enter New Password
                          </mat-error>
                          <mat-error
                            *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].hasError('pattern')">
                            At least 8 characters in length, Lowercase letters, Uppercase letters, Numbers, Special
                            characters</mat-error>
                            <!-- <mat-error *ngIf="changePasswordForm.controls['newPassword'].errors?.minlength" >
                              Enter 8 Characters long password.
                           </mat-error>   -->
                           
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row">
                    <div fxLayout="column" fxFlex="100%">
                      <div fxLayout="row" class="inputDiv">
                        <mat-form-field fxFlex="90%">
                          <input style="margin-left: 23px!important;" formControlName="confirmPassword" matInput placeholder=""
                            [type]="confirmPassHide ? 'password' : 'text'" required maxlength="20" autocomplete="off">
                            <label>Confirm Password</label>
                            <i aria-hidden="true" class="fas fa-unlock-alt passicon"></i>
                          <mat-icon matSuffix (click)="confirmPassHide = !confirmPassHide"  style="color:#18b3cc!important;">                         
                            {{confirmPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          <mat-error
                            *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].hasError('required')">
                            Please enter Confirm Password
                          </mat-error>
                          <mat-error
                            *ngIf="changePasswordForm.controls['confirmPassword'].touched &&changePasswordForm.controls['confirmPassword'].errors?.mustMatch">
                            Passwords do not match.
                          </mat-error>
                          <!-- <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].errors?.minlength" >
                            Enter 8 Characters long password.
                         </mat-error>   -->
                          <mat-error
                            *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].hasError('pattern')">
                            At least 8 characters in length, Lowercase letters, Uppercase letters, Numbers, Special
                            characters</mat-error>

                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row">
                    <div fxLayout="column" fxFlex="64%">
                      <div fxLayout="row" fxLayoutAlign="end">
                        <button (click)="onSubmitPassword()" style="width: auto;" mat-raised-button
                          color="primary" class="btnsubmit">Submit
                        </button>
                      </div>
                    </div>
                  </div>

                </mat-dialog-content>

              </mat-card>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
